.game-page{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  .game-canvas{
    flex: 0 0 auto;
    width: 600px;
    height: 600px;
    background-color: #393e46;
  }
  .sidebar{
    flex: 1 1 0;
  }
}
